body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 996;
  background: rgba(0,0,0,.5);
  border-radius: 0;
  padding: 9px;
  cursor: pointer;
}

.scrollTop i {
  font-size: 36pt;
  color: white;
}


.side-nav {
  min-height: 1000px;
  z-index: 1002;
}